body{
    height: 100vh;
    width: 100wh;
}

header{
    font-family:"Inconsolata", monospace;   
    font-size: 15px;
    padding-left: 4rem;
    padding-top: 3rem;
    height: 15vh;
    color: #333333;
}

main{
    height: 80vh;
    padding: 5rem;
    font-family:Space Mono;  
}
.media{
    width: 39%;
    display: inline-block;
}

img{
    height: 350px;
    float: right;
}

.content{
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
}

.content h1{
    font-size: 50px;
}

.content p{
    margin-top: 25px;
    font-size: 20px;
    color: rgb(62, 59, 59);
    margin-bottom: 40px;
}

.content a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px  15px 10px 15px;
    font-size: 15px;
}

footer{
    height: 5vh;
    text-align: center;
    color: grey;
    font-size: 13px; 
}

@media (min-width: 250px) and (max-width: 768px){

    header{
    font-size: 10px;
    padding-left: 2rem;
    padding-top: 1rem;
    height: 5vh;
    }

    main{
        height: 90vh;
        padding: 0;
        font-family:Space Mono;  
    }

    .content{
        padding: 0px;
        height: 45vh;
        width: 100wh;
        padding-top: 50px;
        position: absolute;
        bottom: 3rem;
        left: 5rem;
    }

    .content h1{
        font-size: 25px;
    }

    .content p{
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .media{
        height: 45vh;
        width: 250px;
        margin-top: 50px;
        position: relative;
        left: 65px;
    }
    .media img{
        height: 250px;
        width: 250px;
    }
    
    footer{
        position: absolute;
        bottom: 0px;
        left: 100px;
        height: 5vh;
    }
    
}

@media (min-width: 769px) and (max-width: 1136px) {
    
    body{
        height: 100vh;
    }
    
    main{
        padding: 0;
        height: 0vh;
        margin-top: 100px;
    }

    .media{
        margin-left: 90px;
    }

    
    .content h1{
        font-size: 25px;
    }

    .content p{
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .content{
        position: absolute;
        top: 23rem;
    }

    footer{
        position: absolute;
        bottom: 0px;
        left: 17rem;
    }

}
